@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Pacifico&subset=cyrillic,latin-ext,vietnamese');:root {
    font-family: 'Pacifico', cursive;
}

.title-img {
    max-width: 100%
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url("img/fon_page.gif");
    color: #01579B;
}

header {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.4rem;
}

main {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.4rem;
}

.column {
    float: none;
    width: 80%;
    margin: 2%;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
