#carouselMytitle {
    height: 500px;
}

#carouselMytitle img {
    max-height: 450px;
}

body {
    max-width: 980px;
    margin: auto;
}

.intro {
    max-width: 100%;
    margin-top: 5%;
    text-align: center;
}

main article {
    padding: 2%;
}

main div {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 600px)
.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
}




