@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Pacifico&subset=cyrillic,latin-ext,vietnamese');:root {
    font-family: 'Pacifico', cursive;
}

.title-img {
    max-width: 100%
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url("img/fon_page.gif");
    color: #01579B;
}

header {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.4rem;
}

header div {
    float: left;
	padding: 0px 5px;
	margin-top: 2%;
}

header nav {
    align-items: center;
}

header nav ul {
    display: flex;
    background-color: #ADD8E6;
    margin: 2%;
}

header nav ul li {
    list-style-type: none;
    letter-spacing: 1px;
    margin: 0 2%;
}
header nav ul li a {
    color: #01579B;
    text-shadow: 2px 2px #9FA8DA;
    text-decoration: none;
}

main section {
    display: flex;
    margin: 5%;
}

h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.8rem;
    text-shadow: 3px 2px #9FA8DA;
    letter-spacing: 3px;
    margin-top: 12%;
    margin-left: 12%;

}

p {
    text-align: justify;
    font-size: 1.4rem;
}

main article {
    padding: 2%;
}

main div {
    display: flex;
    flex-wrap: wrap;
}

footer a {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin: 20px;
    color: #01579B;
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

@media screen and (max-width: 800px) {
    
    header nav ul {
        display: none;
    }

    .label-toggle {
        display: block;
        cursor: pointer;
        float: right;
        margin: 2%
    }
    
    #menu-toggle:checked ~ ul {
        display: block;
        visibility: visible;
        position: fixed;
        top: 32px;
        right: 0px;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        
    }


    }



