body {
    max-width: 980px;
    margin: auto;
}

h1 {
	padding: 50px 0px 0px 50px;
	text-align: left;
	color:#1d3c6a;
	text-shadow: 0 2px 0 white;
}

img {
    max-width: 100%;
    border: 0;
    height: auto;
}

.textwidget p {
	text-align: justify;
}

h4.widgettitle:after {
    height: 3px;
    background-color: #00b3ff;
    width: 40px;
    content: "";
    display: block;
    margin-top: 10px;
    position: absolute;
}

.project-details-list {
    list-style-type: none;
}

.project-details-list li i {
    color: #00b3ff;
    font-size: 10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

body h5 {
    font-size: 1.6rem;
    padding: 2%;
    
}
body p {
    line-height: 1.75;
    font-size: 1.4rem;
    font-weight: 300;
    overflow-x: hidden;
    position: relative;
}

/*.flexslider {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    zoom: 1;*/
/*}*/
/*.flexslider, .fullwidth.flexslider {*/
/*    overflow: hidden;*/
/*}   */
/*.mfp-arrow-left:before {*/
/*    margin-left: 25px;*/
/*    border-right: 27px solid #3F3F3F;*/
/*}*/
/*.mfp-arrow-left:after {*/
/*    border-right: 17px solid #FFF;*/
/*    margin-left: 31px;*/
/*}*/

